:root {
    --corPrincipal:'#ecf0f1'
    
}
body{
    background-color: var(); 
 }
 input{
    border: 1px solid #000;
    
 }
 td{
     text-transform: uppercase;
 }

 h1 {
    color:var(--corPrincipal);
 }
 h3 {
    color:#fdcb6e ;
 }
 td.data {
    color: green;
 }
 
 .btn-danger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 20px;
    font-size: 12px;
 }
 
 @media (max-width:767px){
     input{
       margin-bottom: 2%;  
     }
     tr{
         font-size: 10px;
     }
     img{
         width: 100px;
         
     }
     h1{
         font-size: 20px;
         margin-top: 10px;
     }
     buttom{
         width: 200px;
     }
     .btn-danger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 16px;
        font-size: 8px;
     }
     .btn-success {
        width: 100%;
     }
     
 }